@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/**--------Variables-------**/
:root {
    --green-color: #7acc2d;
    --white-color: white;
    --black-color: #313337;

    /* Tipografia */
    --normal:12px;

    /* Espaciado */
    --space: 10px;
}
/**--------Variables-------**/


html,
body {
    margin: 0px;
    padding: 0px;
    font-size: var(--space);
    font-family: 'Roboto', sans-serif;;
}

nav {
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
}

nav ul {
    display: flex;

}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}

/**-----------------------------------Main section ------------------**/

.main_section {
    padding: 15%;
    text-align: center;
}

.products {
    background-image: url("../images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
}

.products-product {
    padding: var(--space);
    margin-top: -240px;
}


.products-product .products-product__content {
    background-color: var(--white-color);
    padding: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 9px 28px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 9px 28px -3px rgba(0,0,0,1);
    box-shadow: 0px 9px 28px -3px rgba(0,0,0,1);
}
.products-product__content-image {
    text-align: center;
}

.products-product__content-button {
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--space);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.products-product__content-button:hover {
    background-color: yellowgreen;
}
