@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/**--------Variables-------**/
:root {
    --green-color: #7acc2d;
    --white-color: white;
    --black-color: #313337;

    /* Tipografia */
    --normal: 12px;

    /* Espaciado */
    --space: 10px;
}

/**--------Variables-------**/


html,
body {
    margin: 0px;
    padding: 0px;
    font-size: var(--space);
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
}

nav ul {
    display: flex;

}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}

/**-----------------------------------Main section ------------------**/

.main_section {
    padding: 15%;
    text-align: center;
}

.products {
    background-image: url("../images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
}

.products-product {
    padding: var(--space);
    margin-top: -240px;
}


.products-product .products-product__content {
    background-color: var(--white-color);
    padding: 15px;
    border-radius: 15px;
    border: solid 1px rgba(77, 209, 77, 0.644);

}

.products-product .products-product__content:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.8);
}

.products-product__content-image {
    text-align: center;
}

.products-product__content-button {
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--space);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.products-product__content-button:hover {
    background-color: yellowgreen;
}

.moreProducts {
    display: flex;
    padding: 15px;

}

.moreProducts-item {
    padding: 6%;

}

.moreProducts-item__image {
    text-align: center;
    width: 100%;
    height: 53%;
}

.moreProducts-item__image img {
    width: 70%;
    padding-bottom: 30%;
}

.moreProducts-item h1 {
    text-align: center;
}

.moreProducts-item p {
    font-size: 12px;
    text-align: center;
}

hr {
    background: 4px solid #EEEEEE;
    opacity: 1;
}

.paragraph-text {
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}


.footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #313337;
    color: var(--white-color);
    opacity: 1;
}

.footer p {
    font-size: 12px;
    padding: 0 10px 0 10px;
}